# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glo
*.gls
*.acn
*.acr
*.alg
*.glg
*.xdy
*.vrb

# Keep PDF output
# *.pdf
